.cardActivities{
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    border: 2px solid black;
    }

    .title{
        border-radius: 3rem;
        padding: 1rem;
        background-color:  #f4511e;
    }

    .act{
        font-weight: bold;
        color: #f4511e;
    }