.slide>div>img{
width: 100%;
height: 180px;

}
.slide{
    
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    
    }
    .slide>div>p{
        width: 100%;
        text-align: center;
        font-style: oblique;
        
        }

        .slide>button{
            margin-bottom: 30px;
            display: flex;
            align-self: center;
            background-color: #f4511e;
            border: none;
            color: white;
            padding: 8px 15px;
            text-align: center;
            font-size: 16px;
       
            opacity: 0.8;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
            border-radius: 10px;
            }
            .slide>button:hover{
                opacity: 1;
            }


        /* button para mostrar ciudades*/
        #buttonShow{
            align-self: center;
            margin-left: 42%;
            color:aqua;
            width :10%;
           float: inherit;
            

        }