.formCity{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100%;
    max-width:420px; margin:50px auto;
}



.feedback-input {
    border-radius: 5px;
    width: 80%;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
}

.feedback-input:focus { border:2px solid #CC4949; }
[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 83%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    margin-top: 10px;
    transition: all 0.3s;

  }
  [type="submit"]:hover { background:#CC4949; }
