.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: orangered;
}

.Header-link{ 
    color: black;
    padding: 1rem;
} /* opcion para estilar links? */


.logoViaje{
    width: 100px;
    height: 100px;
}