.Header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: rgb(255, 88, 42);
    position: relative;
}

.Header-link{
    padding: 1rem;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 300px;
    color: #f2e5e5;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #d5972c, 0px 0px 10px #d3a593,
      0px 0px 20px #d3a593;
}
.Header-link:hover{
    opacity: 1;
}


.logoViaje{
    width: 100px;
    height: 100px;
}

.ButtonBurger{
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.ButtonBurger:hover{
    opacity: 1;
}

.LinkBurger{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.Maping{
    width: 80%;
    list-style: none;
    display: flex;
    
}

.LogoContainer{
    width: 20%;
}

.ProfileContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
}

.Usuario{
    width: 30px;
    height: 30px;
}

.ProfileLink{
    margin-left: 0.5rem;
    text-decoration: underline;
}

@media (max-width: 425px){
    .Maping{
        display: none;
    }

    .Header-link{
        font-size: 12px;
    }

    .logoViaje{
        width: 100px;
        height: 100px;
        margin-left: 0.5rem;
    }
    
    .Burger{
        width: 30%;
    }

    .LogoContainer{
        width: 70%;
    }
}

@media (min-width: 700px){
    .Burger{
        display: none;
    }
}