
.inpF{
    display: flex;
    align-self: flex-end;
    width: 30%;
    margin-top: 20px;
}
.inputsearch{
    width: 80%;
    float: right;
    
}
.buttonSearch{
    cursor: pointer;
}

@media (max-width: 600px){
    .inpF{
        display: flex;
        float:right;
        width: 50%;
    }
}
.ErrorCities{
    display: flex;
    flex-direction: column;
    font-style: italic;
    justify-content: center;
    align-items: center;
}



